*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    margin: 0;
    display: flex;
    background-image: url("/img/images/home.png");
  }
#nav-bar{
    height: 100vh;
    position: relative;
    background-color: lightblue;
    min-width: 60px;
    width: max-content;
}

#nav-bar > ul > li{
    list-style-type: none;
    width: 100%;
    text-align: center;
}

#menu-btn{
    text-align: center;
    padding: 6px;
}
#nav-image{
    width: 30px;
    height: 30px ;
}
#menu-image{
    width: 20px;
    height: 20px ;
}
#home-btn{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
}
#search-btn{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#settings-btn{
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 20px;
}
#content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home{
    width: 63vw;
    height: calc(5/7 * 100vh);
    display: flex;
    flex-direction: column;
    background-color:darkslategrey;
}
#home-info{
    background-color: azure;
    height: calc(1/6 *100%);
    display: flex;
}
#home-middle{
    background-color: aqua;
    height: calc(3.5/6 *100%);
}
#home-forecast{
    background-color:dodgerblue;
    height: calc(1.6/6 *100%);
}
#info-part-1{
    background-color: brown;
    display: flex;
    width: calc(3/8 *100%);
}
#info-part-2{
    background-color: crimson;
    width: calc(2/8 *100%);
    text-align: center;
}
#info-part-3{
    background-color: darkred;
    width: calc(3/8 *100%);
    text-align: center;
}
#weather-icon{
    width: 25%;
    height: max-content;
}
#temp-cont{
    border-left: 1cqi black solid;
}



