*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    display: flex;
  }
#nav-bar{
    height: 100vh;
    position: relative;
    background-color: lightblue;
    min-width: 60px;
    width: max-content;
}

#nav-bar > ul > li{
    list-style-type: none;
    width: 100%;
    text-align: center;
}

#menu-btn{
    text-align: center;
    padding: 6px;
}
#nav-image{
    width: 30px;
    height: 30px ;
}
#menu-image{
    width: 20px;
    height: 20px ;
}
#home-btn{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
}
#search-btn{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#settings-btn{
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 20px;
}
#content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home{
    width: 63vw;
    height: calc(5/7 * 100vh);
    margin: auto;
    display: grid;
    background-color:darkslategrey;
}
#home-info{
    background-color: azure;
    display: grid;
    grid-row: 1/2;
}
#home-middle{
    background-color: aqua;
    grid-row: 2/9;
}
#home-forecast{
    background-color:dodgerblue;
    grid-row: 9/13;
}
#info-part-1{
    background-color: brown;
    grid-column: 1/2;
}
#info-part-2{
    background-color: crimson;
    grid-column: 2/3;
}
#info-part-3{
    background-color: darkred;
    grid-column: 3/3;
    display: grid;
    align-content:space-around;
    justify-items: center;
}


